
.skeleton-wrapper {
  padding-top: 1rem;
}

.skeleton-line {
  height: 1.2rem;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 1.2rem;
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
